@use '../abstracts/variables';
@use '../abstracts/mixins';

// layout/_topglass.scss
.topGlass {
  width: 90%;
  height: 245px;
  left: 50%;
  top: 0;
  position: absolute;
  transform: translateX(-50%);

  li {
    position: absolute;
    animation:bounce 2s infinite;
    @keyframes bounce{
      0%, 100%{
        transform: translateY(0);
      }
      50%{
        transform: translateY(-20px);
      }
    }
    &:first-child {
      transform: rotate(45deg);
      left: 0;
      top: 0;
      @include mixins.tablet{
        left:-41px;
      }
      @include mixins.mobile{
        top:125px;
        width:30%;
      }
      img{
        @include mixins.tablet{
          width:100%;
        }
        @include mixins.mobile{
          width:100%;
        }
      }
    }
    &:nth-child(2) {
      right: 0;
      @include mixins.tablet{
        top:70px;
        right:-50px;
      }
      @include mixins.mobile{
        top:162px;
        right:0;
        width:25%;
      }
      img{
        @include mixins.tablet{
          width:100%;
        }
      }
    }
    &:last-child {
      right: 180px;
      top: 70px;
      width:20%;
      @include mixins.tablet{
        right:50px;
        top:120px;
      }
      @include mixins.mobile{
        top:229px;
      }
      img{
        @include mixins.tablet{
          width:100%;
        }
      }
    }
  }
}